li {
  list-style: none;
  display: inline;
}
nav {
  position: relative;
  display: flex;
  margin-bottom: 50px;
}

.left,
.right {
  width: 30%;
}
.right {
  position: absolute;
  left: 76%;
}
form {
  margin-top: 13px;
  position: absolute;
  left: 41%;
}
iframe {
  width: 800px;
  margin-right: 50px;
  height: 560px;
}
.container {
  margin: 50px auto 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 70% 30%;
}
.side-bar-header span {
  margin-left: 35px;
}
.poster img {
  display: inline;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
.side-thumbnails li {
  display: list-item;
  margin-bottom: 30px;
}
li img {
  width: 168px;
  height: 94px;
}
